html, body, #root {
  display:flex;
  margin: 50px;
  height: 100%;
  font-weight: bold;
  font-size: large;
  color:darkgray;
  /* background: burlywood; */
  background-image: url('./img/pic11.jpg');
  font-family: Lato;
  text-align: center;
}

.form {
  border-radius: 5%;
  border: 2px solid black;
  padding: 30%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

 nav  li{
  display: flex;
  flex-direction: row;
  justify-content: left;
 

}

a {
  color:silver
}

.info{
  display: contents;
  width:15%;
  border-radius: 5%;
  border: 2px solid black;
  padding: 30%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
