html, body, #root {
  display:flex;
  justify-content: center;
  margin: 50px;
  height: 100%;
  background: burlywood;
  font-family: Lato;
}

.form {
  border-radius: 5%;
  border: 2px solid black;
  padding: 30%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  
}
